<h1 class="text-3xl font-bold underline">Hello world!</h1>

<button class="btn">Button</button>
<button class="btn btn-neutral">Neutral</button>
<button class="btn btn-primary">Primary</button>
<button class="btn btn-secondary">Secondary</button>
<button class="btn btn-accent">Accent</button>
<button class="btn btn-ghost">Ghost</button>
<button class="btn btn-link">Link</button>

.
<div class="bg-background1 flex justify-between items-center">
  <h1 class="text-white">Logo</h1>
  <ul class="flex gap-2 flex-row">
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
  </ul>
</div>
